@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@100;300;400;700;900&family=Roboto:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.holder {
  @apply max-w-siteWidth mx-auto md:px-12 px-6;
}

body {
  @apply flex flex-col min-h-screen font-montserrat font-normal;
}

.btn {
  @apply px-6 py-3 text-black border-2 border-black border-solid text-lg font-semibold  transition-all duration-500 hover:bg-black hover:text-white;
}

.btn-white {
  @apply px-6 py-3 text-white border-white border-solid border-2 font-semibold transition-all duration-500 hover:bg-white hover:text-blue1 text-lg;
}
.btn:hover > svg > path {
  @apply fill-white transition-all duration-300;
}

.after-effect::after {
  @apply bg-black bottom-[-2px] content-[""] h-[2px] right-0 absolute w-0 transition-all duration-300;
}

.after-effect:hover::after {
  @apply left-0 w-full;
}

@layer base {
  /* h1 {
    @apply text-64 font-normal leading-none;
  } */

  h1 {
    @apply text-5xl font-normal leading-none font-raleway tracking-wide;
  }
  h2 {
    @apply text-4xl font-bold leading-none font-raleway tracking-wide;
  }
  h3 {
    @apply text-2xl font-bold leading-none font-raleway tracking-wide;
  }
  h4 {
    @apply text-xl font-bold leading-none font-raleway tracking-wide;
  }

  p {
    @apply text-base font-normal leading-normal;
  }

  .block-pad {
    @apply py-8;
  }
}

.promo-prev > svg > path {
  @apply hover:fill-red-500 transition-all duration-300;
}
.promo-next > svg > path {
  @apply hover:fill-red-500 transition-all duration-300;
}

.active .max-w-0 {
  max-width: 100% !important;
}
.active .opacity-0 {
  opacity: 1 !important;
}

.accc-cards__list > li {
  counter-increment: item;
}

.accc-cards__list a {
  @apply transition-colors ease-in-out duration-300;
}
.accc-cards__list li:nth-child(2n) a {
  @apply bg-gray3;
}
.accc-cards__list a:hover {
  @apply border-l-blue1 shadow-custom1 transition-all duration-300;
}

.accc-cards__list a:hover h3 {
  @apply decoration-blue1 hover:underline transition-all duration-300;
}
.accc-cards__list > li::after {
  position: absolute;
  top: 1rem;
  left: -1.3rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  content: counter(item);
  background: #fff;
  border: 0.5rem solid #9d9d9d;
  border-radius: 50%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.accc-cards__list > li:hover::after {
  @apply border-blue1;
}

.wp-block-image img {
  @apply w-full pb-5;
}

/* Fullscreen Search Overlay */
#fullscreenSearch {
  /* transition: all 0.5s ease-in-out; */
  @apply transition-all duration-500 ease-in-out;
}

#fullscreenSearch.open {
  @apply w-full h-full;
}

.no-scroll {
  @apply overflow-hidden;
}

/* .sub-menu {
 @apply  basis-2/6;
} */
.sub-menu li:not(.menu-item-has-title) {
  @apply mb-2 transition-all duration-300 hover:text-blue1;
}
.sub-menu .menu-item-has-title {
  @apply font-semibold mb-4;
}

body .gform_title {
  @apply hidden;
}

body .gfield .gform-theme--foundation .gfield .ginput_password.large,
.gform-theme--foundation .gfield input.large,
.gform-theme--foundation .gfield select.large {
  @apply border-b-[1px] border-[#33333333] text-[#333333] shadow-none bg-transparent text-[14px] md:text-base rounded-none border-t-0 border-l-0 border-r-0 pl-0;
}
/* body .gfield .gform-theme--framework .gfield_list_group_item::before, .gform-theme--framework .gform-field-label:where(:not([class*=gform-field-label--type-])){
  @apply !leading-[110%] !font-normal !mb-[-28px] !text-[14px] md:!text-base !text-[#333333];
} */
body .gfield textarea {
  @apply border-b-[1px] border-[#33333333] text-[#333333] shadow-none bg-transparent text-[14px] md:text-base rounded-none border-t-0 border-l-0 border-r-0 pl-0;
}

body .contact-form button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  @apply !text-xs !uppercase !leading-[140%] !tracking-[0.0375rem] border !bg-transparent !border-brightEmerald !text-brightEmerald !min-w-[11.375rem] md:!min-w-[13.25rem] !py-3 md:!py-4 !px-8 !pb-2.5 md:!pb-3 !text-center !transition-all duration-300 hover:!text-white hover:!bg-brightEmerald !inline-block !rounded-none;
}
body .gform-theme--foundation .gform_footer,
.gform-theme--foundation .gform_page_footer {
  @apply justify-center mt-10;
}
/* body .gform-theme--foundation .gform_fields{
  @apply gap-[30px];
} */
