@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.holder {
  @apply max-w-siteWidth mx-auto md:px-12 px-6;
}

body {
  @apply flex flex-col min-h-screen font-montserrat font-normal;
}

.btn {
  @apply px-6 py-3 bg-blue1 text-white text-lg font-semibold rounded transition-all duration-500;
}
.btn:hover {
  @apply bg-bright-Orange;
}
.btn:hover > svg > path {
  @apply fill-white transition-all duration-300;
}
.btn > svg > path {
  @apply fill-blue1;
}
.after-effect::after {
  @apply bg-black bottom-[-2px] content-[""] h-[1px] right-0 absolute w-0 transition-all duration-300;
}

.after-effect:hover::after {
  @apply left-0 w-full;
}

@layer base {
  /* h1 {
    @apply text-64 font-normal leading-none;
  } */

  h1 {
    @apply text-5xl font-normal leading-none font-raleway tracking-wide;
  }
  h2 {
    @apply text-4xl font-bold leading-none font-raleway tracking-wide;
  }
  h3 {
    @apply text-2xl font-bold leading-none font-raleway tracking-wide;
  }
  h4 {
    @apply text-xl font-bold leading-none font-raleway tracking-wide;
  }

  p {
    @apply text-base font-normal leading-normal;
  }

  .block-pad {
    @apply py-10;
  }
}

.promo-prev > svg > path {
  @apply hover:fill-red-500 transition-all duration-300;
}
.promo-next > svg > path {
  @apply hover:fill-red-500 transition-all duration-300;
}

.active .max-w-0 {
  max-width: 100% !important;
}
.active .opacity-0 {
  opacity: 1 !important;
}



.accc-cards__list > li {
  position: relative;
  padding: 0;
  margin: 0;
  counter-increment: item;
}

.accc-cards__list a {
  color: #342d8c;
  background-color: #fff;
  display: block;
  padding: 1.5rem 1.5rem 2.5rem 3.5rem;
  border-bottom: none;
  border-left: 0.5rem solid #9d9d9d;
  transition: background-color 0.1s linear, color 0.1s ease-in-out,
    border-color 0.1s ease-in-out, opacity 0.1s ease-in-out;
}
.accc-cards__list li:nth-child(2n) a{
  background-color: #fafafa;
}
.accc-cards__list a:hover {
  border-left-color: #0a2391;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.06), 0 0 0.2rem rgba(0, 0, 0, 0.12);
}

.accc-cards__list h3 {
  font-size: 1.6rem;
  font-width: bold;
  line-height: 1.5;
  letter-spacing: 0;
  margin-bottom: 1rem;
}
.accc-cards__list a:hover h3 {
  text-decoration: underline;
  text-decoration-color: #0a2391;
}
.accc-cards__list > li::after {
  position: absolute;
  top: 1rem;
  left: -1.3rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  content: counter(item);
  background: #fff;
  border: 0.5rem solid #9d9d9d;
  border-radius: 50%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.accc-cards__list > li:hover::after {
  border-color: #0a2391;
}
